{% extends "SPruebasPRUEBASBundle:Default:index.html.twig" %}

{% block body %}


<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/buscaPerd.jpg);
					  background-repeat:no-repeat;
					  background-position:center; background-size: 330px ;" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/labrador.jpg);
					  background-repeat:no-repeat;
					  background-position:center;" value="Se busca">&nbsp;
					<div class="visible-xs"><br></div>
					<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/protectora.jpg);
					  background-repeat:no-repeat;
					  background-position:center; background-size: 300px ;" value="Protectoras">&nbsp;
					<div class="visible-xs"><br></div>
					<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/labrador.jpg);
					  background-repeat:no-repeat;
					  background-position:center;" value="Camadas">&nbsp;
					<br><br>
					<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/adopttt.jpg);
					  background-repeat:no-repeat;
					  background-position:center; background-size: 310px ;" value="Adopciones">&nbsp;
					<div class="visible-xs"><br></div>
					<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/donaciones.png);
					  background-repeat:no-repeat;
					  background-position:center; background-size: 300px ;" value="Donaciones">&nbsp;
					<div class="visible-xs"><br></div>
					<input type="button" class="btn botonMenuPaginaPrincipal" style="background-image:url(/my_project/web/bundles/spruebaspruebas/imgs/imgs/foro.jpg);
					  background-repeat:no-repeat;
					  background-position:center; background-size: 320px ;" value="Foro">
{% endblock body %}