{% extends "ContactameBundle:Default:index.html.twig" %}

{% block guide %}
  <a href="{{ path("index_homepage") }}">Inicio</a> > <a href="#">Contáctame</a>
{% endblock guide %}


{% block body %}
<font style="color: #00BCD4;font-weight: bold; font-size:23px;">Contacto</font>
 <script type="text/javascript" src="https://form.jotformeu.com/jsform/60525076893361"></script>

{% endblock body %}
      